# Logs
logs
*.log
.DS_Store
.thought

# Runtime data
pids
*.pid
*.seed

# API keys and secrets
.env

# Dependency directory
node_modules

# Build directory
build
build-test

# Editor temporary files
*~
\#*#
.#*
*.orig
*.rej

# OS metadata
.DS_Store
Thumbs.db
